<div class="card mb-2">
  <div  class="flex items-center gap-4 mb-4">
    <label  class="font-semibold w-24">Hora inicial</label>
    <p-datepicker
    [(ngModel)]="RentalDevice.startDate"
    [iconDisplay]="'input'"
    appendTo="body"
    [showIcon]="true"
    [timeOnly]="true"
    inputId="templatedisplay"
    class="flex-auto" disabled>
      <ng-template #inputicon let-clickCallBack="clickCallBack" disabled>
          <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
      </ng-template>
    </p-datepicker>
  </div>
  <div  class="flex items-center gap-4 mb-4">
    <label class="font-semibold w-24">Hora Final</label>
    <p-datepicker
    [(ngModel)]="RentalDevice.endDate"
    [iconDisplay]="'input'"
    appendTo="body"
    [showIcon]="true"
    [timeOnly]="true"
    inputId="EndDate"
    class="flex-auto" >
      <ng-template #inputicon let-clickCallBack="clickCallBack">
          <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
      </ng-template>
    </p-datepicker>
  </div>

</div>
<div class="flex justify-end gap-2">
  <p-button label="Cancel" severity="secondary" />
  <p-button label="Save" (click)="onSubmit()" autofocus />
</div>
