<p-toast></p-toast>
<main class="main">
  <app-header></app-header>
  <div class="content">
    <div class="card">
      <app-devices-list>
      </app-devices-list>
      <div class="dock-window fixed-dock ">
        <p-dock [model]="items" [position]="'bottom'">
          <ng-template #item let-item>
            <div class="dock-item">
              <img [pTooltip]="item.label" tooltipPosition="top" [src]="item.icon" [alt]="item.label" />
            </div>
          </ng-template>
        </p-dock>
      </div>
    </div>
  </div>
</main>


